
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

html, body {
  font-family: 'El Messiri', sans-serif;
  font-weight: 300;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: right;
  position: relative;
}

.name {
    font-family: 'El Messiri', sans-serif;
}

.header-text {
    font-family: 'El Messiri', sans-serif;
    padding-right: 70px;
    padding-left: 70px;
}

.body-text {
  font-family: 'Vollkorn', sans-serif;
  padding-top: 1px;
  padding-right: 490px;
  padding-bottom: 50px;
  padding-left: 70px;
}

.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;
  
  .bar {
    width: 100%;
    display: inline-block;
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }
  
  &:hover {
    .bar {
      opacity: 0.2;
      bottom: 6px;
    }
  }
}